{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %} 
{% load static %}
{% block content %} 

<script src="{% static '/js/home.js' %}"></script>

<div class="card mt-2">

  <div class="card-body d-flex flex-row justify-content-between">
    <form id="addFile" action="/addFile/" method='post' enctype= multipart/form-data>
      {% csrf_token %}
      
      <input type="file" id="blob" name="blob_file">
      <input type="submit" value="Upload">
      
    </form> 
  </div>

  <div class="card-body d-flex flex-row justify-content-between">
    <form id="deleteUser" action="/rmUser/" method='get'>
      
      <input type="submit" value="Delete User">
      
    </form> 
  </div>

  

  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      LISTING BLOBS
      <ul>
        {% for blob_name in blobQuery %}
          <li>
            <form action="/deleteFile/" method='get'>
            {{ blob_name }} 
            <div>
              <input type="hidden" value="{{ blob_name }}" name="blob_name"></input>
              <input type="submit" class="delete-button" value="Delete"></input>
              {% comment %} <input type="submit" class="delete-button" data-blob-name="{{ blob.blob_name }}">Delete</input> {% endcomment %}
            </div> 
          </li>
        </form>
        {% endfor %}
        </ul>
    </div>
  </div>

</div>
{% endblock %}